<!-- <!DOCTYPE html>
<html>
<head>
    <title>Email Form</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <br>
    
    <button onclick="window.location.href = 'upload_files.html';">Upload Files</button>

    <h1>Contact US</h1>
    <form action="model_run" method="post">
        <label for="email">Email:</label><br>
        <input id="email" name="email" ><br><br>
        
        <label for="subject">Subject:</label><br>
        <input type="text" id="subject" name="subject" ><br><br>
        
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="6" cols="60" placeholder="enter a message"></textarea><br><br>
        
        <input type="submit" value="Send Email">
    </form>


</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Model</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <style>
        form{
            background-color: rgb(97 77 9);
            color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>Machine Learning Model</h1>
    <br>
        <!-- GitHub Link Button -->
        <a href="https://github.com/HamzaTariq98/Team6Project" target="_blank"><button type="button">Code Link!</button></a>
    <br>
    <form action="/model_run" method="POST">
        <br>

        <label for="Store">Store: (optional = 10)</label>
        <input type="text" id="Store" name="Store" ><br><br>


        <label for="Dept">Dept: (optional = 10)</label>
        <input type="text" id="Dept" name="Dept" ><br><br>


        <label for="Year">Year: (optional = 10)</label>
        <input type="text" id="Year" name="Year" ><br><br>


        <label for="Month">Month: (optional = 10)</label>
        <input type="text" id="Month" name="Month" ><br><br>


        <label for="IsHoliday">IsHoliday: (optional = 10)</label>
        <input type="text" id="IsHoliday" name="IsHoliday" ><br><br>


        <label for="Type">Type: (optional = 10)</label>
        <input type="text" id="Type" name="Type" ><br><br>


        <label for="Size">Size: (optional = 10)</label>
        <input type="text" id="Size" name="Size" ><br><br>


        <label for="Temperature">Temperature: (optional = 10)</label>
        <input type="text" id="Temperature" name="Temperature" ><br><br>


        <label for="Fuel_Price">Fuel_Price: (optional = 10)</label>
        <input type="text" id="Fuel_Price" name="Fuel_Price" ><br><br>


        <label for="MarkDown1">MarkDown1: (optional = 10)</label>
        <input type="text" id="MarkDown1" name="MarkDown1" ><br><br>


        <label for="MarkDown2">MarkDown2: (optional = 10)</label>
        <input type="text" id="MarkDown2" name="MarkDown2" ><br><br>


        <label for="MarkDown3">MarkDown3: (optional = 10)</label>
        <input type="text" id="MarkDown3" name="MarkDown3" ><br><br>


        <label for="MarkDown4">MarkDown4: (optional = 10)</label>
        <input type="text" id="MarkDown4" name="MarkDown4" ><br><br>


        <label for="MarkDown5">MarkDown5: (optional = 10)</label>
        <input type="text" id="MarkDown5" name="MarkDown5" ><br><br>


        <label for="CPI">CPI: (optional = 10)</label>
        <input type="text" id="CPI" name="CPI" ><br><br>


        <label for="Unemployment">Unemployment: (optional = 10)</label>
        <input type="text" id="Unemployment" name="Unemployment" ><br><br>


        <input type="submit" value="Run Model">
        <br>
    </form>

    <!-- Display the result here -->
    <div>
        <h2>Result:</h2>
        <p>{{ result }}</p>
    </div>
</body>
</html>

